<!doctype html>
<html lang="en">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<h3>Проект job4j_dreamjob, выполняемый в рамках курса Job4j</h3>
<div>
    <a class="nav-item nav-link" th:href="@{/vacancies}">Вакансии</a>
    <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
    <a class="nav-item nav-link" th:href="@{/vacancies/create}">Создать вакансию</a>
    <a class="nav-item nav-link" th:href="@{/candidates/create}">Создать резюме</a>
</div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>